*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: titillium;
    src: url(fonts/TitilliumWeb-Italic.ttf);
    font-style: italic;
}

.bgimg{
    background-image:url(../multimedia/image.png);
    background-repeat: repeat;
}

.bgcarta{
    background-image:url(../multimedia/9e68bdafafbafb20126ce2e47dae677d.png);
    background-repeat: repeat;
}

.text-center{
    text-align: center;
}

.bg-naranja{
    background-color: rgb(95, 95, 95);
}

.nopunto{
    text-decoration: none;
}

.menu ul li a:hover{
    background-color: rgb(138, 136, 134);
}

a:link {
    text-decoration: none;
  }
  a:visited {
    text-decoration: none;
  }

.main{
    min-height: 70vh;
}

.mainImg{
    height: 10px;
    width: auto;
    display: inline-block;
}

.main_text{
    display: inline-block;
    vertical-align: top;
    font-family: titillium;
}

.titulo{
    text-align: center;
    padding: 20px;
    font-size: 50px;
}

.subtitulo{
    text-align: center;
    padding: 3px;
    font-size: 30px;
}

.textos{
    font-size: 20px;
    text-align: center;
    padding: 30px;
    text-decoration: none;
}

.textos_p{
    font-size: 25px;
    text-align: center;
    padding: 5px;
}

.texto_extra{
    font-size: 25px;
    text-align: center;
    padding: 20px;
}

.recuadro{
    height: 20px;
    width: 300px;
}

.padreFlex{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    
}

.flextexto{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.imgxd{
    height: 40vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1, 30%);
    gap: 2rem;
    margin: 2rem 2rem 2rem 2rem;
    object-fit: cover;
    width: 60%;
    height: 65%;
    
}

.lif {
    display: flex;
    position: relative;
    width: 20px;
    height: 20px;
    margin: 0px;
    list-style: none
}

ul li span {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    transition: 0.3s;
}

ul li:hover span {
    z-index: 1000;
    transition: 0.5s;
    color: #ffffff;
    box-shadow: -1px 1px 1px rgba(0,0,0,0.05);

}

.w{
    color: #ffffff;
}

img{
    width: 100%;
}

.row{
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
}

.column{
    flex: 25%;
    padding: 3px;
}

.column img{
    margin-top: 5px;
}

@media (max-width:800px){
    .column{
        flex: 50%;
    }
}

@media (max-width: 600px){
    .column{
        flex: 60%;
    }
}

.container-form form .campo, textarea{
    width: 100%;
    padding: 15px 10px;
    font-size: 16px;
    border: 1px solid #dbdbdb;
    margin-bottom: 20px;
    border-radius: 3px;
    outline: 0px;
}
.container-form form textarea{
    max-width: 530px;
    min-width: 530px;
    min-height: 140px;
    max-height: 150px;
}
.container-form .btn-enviar{
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: 0px;
    background: rgb(254, 254, 254);
    color: rgb(5, 5, 5);
    border-radius: 3px;
    cursor: pointer;
    transition: all 300ms ease;
}
.container-form .btn-enviar:hover{
    background: #010101;
}

